body {
    background-color: beige;
}

h1 {
    color: blue;
    text-align: center;
}

#header {
    background-color: rgb(228, 194, 165);
}

#header blockquote {
    background-color: yellow;
    text-align: center;
    border: 1px dotted;
}

.menu {
    text-align: center;
}

.gambar {
    text-align: center;
}

.bBesar {
    font-size: 50px;
    color: blue;
    display: inline;
}

.koleksi{
    text-align: center;
}

.koleksi img {
    width: 265px;
    display: inline;
}

.promo { 
    width: 70%;
    margin: 0 auto;
}

.promo, .h2, .h3 {
    color: red;
    text-align: center;
    font-size: 15px;
}