.kotak {
    position: relative;
    width: 1135px;
    height: 680px;
    background-color: white;
    margin: auto;
}

.kotak1 {
    float: left;
    width: 200px;
    height: 90px;
    background-color: rgb(28, 184, 48);
    margin-left: 1em;
    margin-top: 1em;
    border: 2px solid black;
}

.kotak2 {
    float: left;
    width: 720px;
    height: 90px;
    background-color:brown;
    margin-left: 1em;
    margin-top: 1em;
    border: 2px solid black;
}

.kotak3 {
    float: left;
    width: 200px;
    height: 450px;
    background-color:rgb(221, 42, 42);
    margin-left: 1em;
    margin-top: 1em;
    border: 2px solid black;
}

.kotak4 {
    float: left;
    width: 500px;
    height: 450px;
    background-color:rgb(175, 128, 27);
    margin-left: 1em;
    margin-top: 1em;
    border: 2px solid black;
}

.kotak5 {
    float: left;
    width: 200px;
    height: 450px;
    background-color:rgb(43, 226, 226);
    margin-left: 1em;
    margin-top: 1em;
    border: 2px solid black;
}

.kotak6 {
    float: left;
    width: 940px;
    height: 90px;
    background-color:brown;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 2px solid black;
}